---
import BaseLayout from "$/layouts/BaseLayout.astro";
import Prose from "$/components/Prose.astro";
import Tag from "$/components/Tag.astro";
import { PostMetadata } from "$/types";
import { getPostData } from "$/utils";
import { MarkdownInstance } from "astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../data/blog-posts/*.md");
  return posts.map(p => ({
    params: { slug: getPostData(p).slug },
    props: { post: p },
  }));
}
export interface Props {
	post: MarkdownInstance<PostMetadata>;
}

const { post } = Astro.props;
const { readingTime, permalink } = getPostData(post);
const { Content, frontmatter } = post;
const { author, title, description, tags, publishedDate, lastEditDate, coverUrl } = frontmatter;
const format = (date: string) => new Date(date).toLocaleDateString("fr-BE", { dateStyle: "medium" });
---
<BaseLayout content={{title, description}}>
  <div class="header">
    <h1 class="title">{ title }</h1>
    <div class="desc">
        <span class="author">{ author }</span>
        {publishedDate && <>
          | <span class="date">
              {format(publishedDate)}
              {lastEditDate && <> (màj {format(lastEditDate)})</>} 
            </span>
        </>}
        | <span class="readtime"><time>{readingTime}</time></span>
        | <span class="permalink"><a href={permalink}>permalien</a></span>
    </div>
    <div class="tags">
      {tags && tags.map((tag) => <Tag name={tag} />)}
    </div>
  </div>
  {coverUrl && <img width={720} height={360} src={coverUrl} alt={title} />}
  <Prose>
    <Content />
  </Prose>
</BaseLayout>

<style>
  .header {
    @apply mb-8;
  }
  .title {
    @apply capitalize text-4xl py-4 mb-4 text-theme-primary font-extrabold;
  }
  .desc {
    @apply text-xl;
  }
  .author {
    @apply no-underline;
  }
  .date {
    @apply text-xl;
  }
  .readtime {
    @apply text-xl;
  }
  .permalink {
    @apply text-xl;
  }
  .tags {
    @apply inline-flex gap-3 text-sm;
  }
  a {
    @apply text-theme-secondary hover:text-theme-accent-light hover:underline;
  }
</style>
