---
import { getPostData } from "$/utils";

const { post } = Astro.props;
const { title, description, publishedDate } = post.frontmatter;
const date = new Date(publishedDate);
const day = date.toLocaleDateString("fr-BE", { day: "numeric" });
const monthNYear = date.toLocaleDateString("fr-BE", { month: "long", year: "numeric" });
const { permalink } = getPostData(post);
---
<div class="post-preview">
    <div class="date">
        <span class="day">{day}</span>
        <span class="month-n-year">{monthNYear}</span>
    </div>
    <div class="list">
        <h4 class="title">
            <a href={permalink} title={title}>{title}</a>
        </h4>
        <p class="desc">{description}</p>
    </div>
</div>
<style>
    .post-preview {
        @apply flex gap-6;
    }
    .date {
        @apply flex flex-col w-full text-center text-theme-gray sm:w-12 md:w-32;
    }
    .day {
        @apply text-6xl;
    }
    .month-n-year {
        @apply text-base;
    }
    .list {
        @apply flex-auto;
    }
    .title {
        @apply text-2xl font-semibold text-theme-secondary capitalize hover:underline mb-2;
    }
    .desc {
        @apply text-lg text-theme-gray-light leading-6;
    }
</style>
