---
import { getPostData } from "$/utils";

const { post } = Astro.props;
const { title, description, publishedDate } = post.frontmatter;
const date = new Date(publishedDate);
const day = date.toLocaleDateString("fr-BE", { day: "numeric" });
const monthNYear = date.toLocaleDateString("fr-BE", { month: "long", year: "numeric" });
const { slug } = getPostData(post);
const href = `/blog/${slug}`;
---
<div class="post-preview">
    <div class="sm:w-20 md:w-32">
        <div class="post-preview__date">
            <span class="post-preview__date__day">{day}</span>
            <span class="post-preview__date__month-n-year">{monthNYear}</span>
        </div>
    </div>
    <div class="flex-1">
        <h4 class="post-preview__title">
            <a href={href} title={title}>{title}</a>
        </h4>
        <p class="post-preview__desc">{description}</p>
    </div>
</div>
<style>
    .post-preview {
        @apply  flex gap-6;
    }
    .post-preview__date {
        @apply flex flex-col w-full text-center;
    }
    .post-preview__date__day {
        @apply text-6xl font-semibold text-gray-500 dark:text-gray-300;
    }
    .post-preview__date__month-n-year {
        @apply text-gray-400;
    }
    .post-preview__title {
        @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary hover:underline mb-2;
    }
    .post-preview__desc {
        @apply text-lg leading-6 line-clamp-2 dark:text-white;
    }
</style>
