---
import BaseLayout from "./base.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		tags: string[];
		created?: string;
		updated?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, tags, created, updated, heroImage },
} = Astro.props;
---
<BaseLayout content={{title, description}}>
  <article>
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
    {tags && (
      <p>
        <small>
          étiquettes: {tags.map((tag) => (
            <i>
              <a href={`/tags/${tag}`}>{tag}</a>
            </i>
          ))}
        </small>
      </p>
    )}
    {created && <time>{created}</time>}
    {updated && (
      <div>
        Dernière modification le <time>{updated}</time>
      </div>
    )}
    <hr />
    <slot />
  </article>
</BaseLayout>
